.destaqueSite{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: #fff;
}
.destaqueSite h3{
    font-weight: 500;
    text-align: center;
}
.destaqueSite p{
    margin-bottom: 2%;
    text-align: center;
    font-size: .8rem;
    color: #ffffff65;

}
.destaqueSiteContent{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}
.flatBox{
    width: 100%;
    max-width: 250px;
    /* height: 320px; */
    /* background-color: #1e1e1e33; */
    border: 1px solid #ffffff17;
    box-shadow: 0px 0px 10px #ffffff0c;
    border-radius: 1rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    text-align: left;

    padding: 2rem 1rem;
}
.iconFlatBox{
    margin-bottom: 1rem;
}
.imageFlatBox{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}
.imageFlatBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2rem;
}
.flatBox h4{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
}
.flatBox p{
    color: #ffffff65;
    text-align: left;
}
@media screen and (max-width:1000px) {
    .destaqueSite p{
        margin-bottom: 10%;
    }
    .destaqueSiteContent{
        width: auto;
        grid-template-columns: 1fr 1fr;
    }
    .flatBox{
        width: 100%;
        max-width: none;
    }
}
@media screen and (max-width:400px) {
    .destaqueSiteContent{
        grid-template-columns: 1fr;
    }
    .flatBox{
        width: 100%;
        max-width: none;
    }
}